body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}

/* typography */

h1, h2 {
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
    border-top: #c4c4c4 1px solid;
    border-bottom: #c4c4c4 1px solid;
    padding: 25px 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

.small-text {
    font-size: 16px;
    margin-top: 0;
}


/* layout */

.container {
    width: 570px;
    margin: 0 auto;
}

img {
    border-radius: 100%;
}

img:hover {
    transform: scale(1.01);
}

h1 span, 
h2 span,
.name, 
time {
    font-weight: 900;
    color: #99D930;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover, a:focus{
    color: #131313;;
}
header, section {
    padding: 100px 0;;
}

header {
    background-color: #D7D7D7;
}

.section-one {
    /* background-color: #FFEAEA; */
    background-color: #fff;
}

.section-two {
    background-color: #EAF9FF;
}

header, .section-two {
    background-color: #252525;
    color: #fff;
}



/* buttons */

.btn {
    display: inline-block;
    background-color: #99D930;
    color: #252525;
    padding: 10px 25px;
    text-decoration: none;
    margin-top: 25px;
}

.btn:hover,
.btn:focus {
    background-color: #252525;
    color: #fff;
    border: #99D930 2px solid;
}


